/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 26px;
  color: #191826; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container {
  display: grid;
  grid-template-rows: [logo-start] 20rem [logo-end header-start] min-content [header-end content-start] min-content [content-end footer-start] min-content [footer-end];
  grid-template-columns: 1fr repeat(12, 6.5rem) 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  justify-items: start;
  background-image: url(/img/bg-main-desktop.png);
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: -35.6rem -30rem;
  position: relative;
  padding-bottom: 9.1rem; }

.logo {
  grid-row: logo-start/logo-end;
  grid-column: 2/-1;
  padding-top: 6.2rem; }

.bg-pattern--1 {
  position: absolute;
  top: -4rem;
  right: 0; }

.header {
  grid-row: header-start/header-end;
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(10, 6.5rem);
  grid-template-rows: repeat(2, min-content);
  column-gap: 3rem;
  row-gap: 4rem;
  z-index: 1; }
  .header__heading {
    font-size: 8.8rem;
    font-weight: 700;
    line-height: 8.8rem;
    letter-spacing: -1px;
    grid-column: 1/11; }
  .header__text {
    font-size: 2rem;
    line-height: 3.4rem;
    grid-column: 1/10; }

.content {
  width: 111rem;
  height: 60rem;
  background-color: #191826;
  border-radius: 12px;
  grid-row: content-start/content-end;
  grid-column: 2/-1;
  margin-top: 32.1rem;
  display: grid;
  grid-template-columns: repeat(12, 6.5rem);
  column-gap: 3rem;
  position: relative; }
  .content .bg-pattern--2 {
    position: absolute;
    left: 329px;
    top: -40px;
    z-index: 1; }
  .content__phone-img {
    grid-column: 2/5;
    display: block;
    width: 31.2rem;
    height: 64.2rem;
    margin-top: -21.3rem;
    z-index: 2; }
    .content__phone-img img {
      width: 100%; }
  .content .description-box {
    grid-column: 7/-2;
    background-color: #fa7453;
    color: #fcfaf9;
    border-radius: 12px;
    margin-top: 9rem;
    padding: 5.8rem 5.9rem 4.8rem 5.4rem;
    z-index: 2; }
    .content .description-box__heading {
      font-size: 4rem;
      font-weight: 700;
      line-height: 5.2rem;
      margin-bottom: 2.2rem; }
    .content .description-box__text {
      font-size: 20;
      line-height: 3.4rem;
      margin-bottom: 3.9rem; }
    .content .description-box__price {
      margin-bottom: 4.6rem; }
      .content .description-box__price--1 {
        font-size: 6.5rem;
        font-weight: 700;
        line-height: 5.2rem; }
      .content .description-box__price--2 {
        font-size: 2rem;
        line-height: 3.2rem;
        letter-spacing: -0.2px; }
    .content .description-box .btn {
      width: 33.3rem;
      height: 6.1rem;
      border-radius: 12px;
      border: none;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s; }
      .content .description-box .btn img {
        margin-right: 8px; }
      .content .description-box .btn--ios {
        background-color: #191826;
        color: #fcfaf9;
        margin-bottom: 1.6rem; }
        .content .description-box .btn--ios:hover, .content .description-box .btn--iosactive {
          background-color: #66e2dc; }
      .content .description-box .btn--android {
        background-color: #fcfaf9;
        color: #191826; }
        .content .description-box .btn--android:hover, .content .description-box .btn--androidactive {
          background-color: #ffb964; }

.footer {
  grid-row: footer-start/footer-end;
  grid-column: 2/13;
  margin-top: 20.2rem;
  display: grid;
  grid-template-columns: repeat(12, 6.5rem);
  grid-template-rows: min-content;
  column-gap: 3rem; }
  .footer__logo {
    grid-column: 1/2; }
  .footer .copyright {
    grid-column: 4/8; }
  .footer .social-icons {
    grid-column: -2/-1;
    align-self: center;
    display: flex; }
    .footer .social-icons > *:not(:last-child) {
      margin-right: 2rem; }
