.footer {
  grid-row: footer-start/footer-end;
  grid-column: 2/13;

  margin-top: 20.2rem;

  display: grid;
  grid-template-columns: repeat(12, 6.5rem);
  grid-template-rows: min-content;
  column-gap: 3rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(12, 4.8rem);
    grid-template-rows: repeat(2, min-content);
    column-gap: 1rem;
    row-gap: 3.2rem;

    margin-top: 18.3rem;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 40rem;
    margin-left: 2.4rem;
  }

  &__logo {
    grid-column: 1/2;
    @include respond(phone) {
      margin-bottom: 3.2rem;
    }
  }

  .copyright {
    grid-column: 4/8;
    @include respond(tab-land) {
      grid-column: 1/7;
      grid-row: 2/3;
    }
    @include respond(phone) {
      margin-bottom: 6.4rem;
    }
  }

  .social-icons {
    grid-column: -2/-1;
    align-self: center;

    display: flex;
    @include respond(tab-land) {
      grid-column: -3/-1;
      grid-row: 2/3;
    }
    @include respond(phone) {
      align-self: flex-start;
    }

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
