.header {
  grid-row: header-start/header-end;
  grid-column: 2 / 12;

  display: grid;
  grid-template-columns: repeat(12, 6.5rem);
  grid-template-rows: repeat(2, min-content);
  column-gap: 3rem;
  row-gap: 4rem;
  z-index: 1;

  @include respond(tab-land) {
    grid-template-columns: repeat(12, 4.8rem);
    column-gap: 1rem;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    margin: 6.4rem 2.45rem;
    gap: 2rem;
  }

  &__heading {
    font-size: 8.8rem;
    font-weight: 700;
    line-height: 8.8rem;
    letter-spacing: -1px;
    grid-column: 1/11;

    @include respond(tab-land) {
      font-size: 6.4rem;
      line-height: 6.4rem;
      letter-spacing: -0.73px;
      grid-column: 1/11;
    }

    @include respond(phone) {
      font-size: 4rem;
      line-height: 4.8rem;
      letter-spacing: -0.45px;
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 3.4rem;
    grid-column: 1/10;

    @include respond(tab-land) {
      font-size: 1.8rem;
      line-height: 2.8rem;
      grid-column: 1/10;
    }
    @include respond(phone) {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}
