.header {
  grid-row: header-start/header-end;
  grid-column: 2 / 12;

  display: grid;
  grid-template-columns: repeat(10, 6.5rem);
  grid-template-rows: repeat(2, min-content);
  column-gap: 3rem;
  row-gap: 4rem;

  &__heading {
    font-size: 8.8rem;
    font-weight: 700;
    line-height: 8.8rem;
    letter-spacing: -1px;
    grid-column: 1/11;
  }

  &__text {
    font-size: 2rem;
    line-height: 3.4rem;
    grid-column: 1/10;
  }
}
