.container {
  display: grid;
  grid-template-rows: [logo-start]20rem[logo-end header-start] min-content[header-end content-start] min-content [content-end footer-start] min-content[footer-end];
  grid-template-columns: minmax(3rem, 1fr) repeat(12, 6.5rem) minmax(3rem, 1fr);
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  justify-items: start;

  @include respond(tab-land) {
    grid-template-columns: minmax(3rem, 1fr) repeat(12, 4.8rem) minmax(
        3rem,
        1fr
      );
    column-gap: 1rem;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  background-image: url(/img/bg-main-desktop.png);
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: -35.6rem -30rem;

  @include respond(phone) {
    background-size: cover;
    background-position: -105rem -55rem;
  }

  position: relative;

  padding-bottom: 9.1rem;
}
